:root {
    --box-shadow-primary: 4px 4px 8px rgba(0, 0, 0, 0.4), -4px -4px 8px rgba(61, 61, 61, 0.4); 
    --box-shadow-secondary: inset 4px 4px 8px rgba(0, 0, 0, 0.4), inset -4px -4px 8px rgba(61, 61, 61, 0.4);

    /* Colours */  
    --main-accent-colour: #82D88B;

    /* Green filter for SVG */
    --green-filter: invert(55%) sepia(100%) saturate(1) hue-rotate(45deg);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #282828;
}

/*****************Login*************************/
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #282828;
    color: white;
}

.inner-login-container {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    min-height: 80%;
    width: 80vw;
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    /* overflow: auto; */
}

.login-logo-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30%;
    min-height: 120px;
    width: 100%;
    /* background-color: green; */
}

.login-logo-container-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6rem;
    width: 6rem;
    border-radius: 9999px;
    /* background-color: #f6f5f5; */
    box-shadow: var(--box-shadow-primary);
    
}

.login-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40%;
    min-height: 40%;
    width: 100%;
    /* background-color: blue; */
}

.login-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    max-height: 20%;
    min-height: 20%;
    width: 100%;
    /* background-color: purple; */
}

.logo {
    max-height: 90%;
    max-width: 90%;
    filter: invert(1);
}

.login-brand-name {
    font-size: 150%;
    color: var(--main-accent-colour);
}

.wide-text-field {
    height: 20%;
    padding: 1rem;
    width: 80%;
    text-align: center;
    color: white;
    font-size: 80%;
    /* font-size: clamp(80%, 80%, 120%); */
    background-color: transparent;
    border: 0;
    box-shadow: var(--box-shadow-secondary);
     border-radius: 10px;

}

.login-text-field:focus {
    outline: none;
}

.error-text {
    color: #FF5757;
    font-size: 80%;
    margin-bottom: 3px;
    display: none;
}

.wide-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 80%;
    font-size: 120%;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    user-select: none;
}

.wide-button:active {
    box-shadow: var(--box-shadow-secondary);
}

.wide-button-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    width: 99%;
    height: 98%;
    border-radius: 10px;
    background: rgb(130,216,139);
    background: linear-gradient(90deg, rgba(130,216,139,0.8) 0%, rgba(140, 194, 147, 0.8) 100%);
}

.wide-button-inner:active {
    box-shadow: inset 4px 4px 4px rgb(84, 113, 87), inset -4px -4px 4px rgb(203, 252, 210);
}

.login-small-text {
    font-size: 80%;
}

.socials-footer {
    display: flex;
    height: 10%;
    min-height: 10%;
    width: 100%;
    /* background-color: #8f5151; */
    align-items: center;
    justify-content: center;
    border-radius: 0 0 10px 10px;
}

.social-button {
    margin-left: 1.5rem;
    height: 30%;
    filter: invert(1);
}

.social-button:hover {
    /* this filter changes svg to green */
    filter: var(--green-filter);
}


/*****************Signup*************************/

.signup-back-button-container {
    display: flex;
    height: 10%;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
}

.signup-fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60%;
    min-height: 50%;
    width: 100%;
}

.signup-back-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: white;
    height: 50%;
    width: 2.5rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow-primary);
    user-select: none;
    margin-left: 1rem;
}

.signup-logo-container-outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20%;
    min-height: 120px;
    width: 100%;
    /* background-color: green; */
}

.back-button-image {
    height: 50%;
    width: 50%;
    filter: invert(1);
}

.signup-text-field {
    margin-bottom: 1rem;
    height: 15%;
}


/* Media Queries */

/* Laptop screen size */
@media only screen and (min-width: 992px) {
    .inner-login-container {
        width: 40vw;
        /* height: 50vh; */
    }

    .login-logo-container-inner {
        height: 100px;
        width: 100px;
    }
    .wide-text-field {
        font-size: 150%;
    }
}

/* Tiny Screen Size */
@media only screen and (max-height: 520px) {

    .login-logo-container-outer {
        height: 10%;
        min-height: 0;
        
    }
    .login-logo-container-inner {
        display: none;
    }

    .login-inputs {
        height: 70%;
    }

    .login-signup {
        height: 20%;
    }

    .socials-footer {
        display: none;
    }
    .wide-text-field {
        font-size: 120%;
    }

    /* signup */

    .signup-logo-container-outer {
        display: none;
        
    }
    .signup-fields {
        height: 80%;
    }
}

/* Large screen size */

    
